.Error_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FF6060;
    margin: 0 30px 80px 30px;
    & .Error_div_title {
        font-size: clamp(96px, 15vw, 280px);
        font-weight: 700;
        margin: 100px 0 40px 0;
    }
    & .Error_div_message {
        font-weight: 500;
        font-size: clamp(18px, 4vw, 36px);
        margin : 0 0 150px 0;
        text-align: center;
        
    }
    & .Error_div_link a {
        color:#FF6060;
        text-decoration: none;
        font-size: clamp(14px, 3vw, 18px);
        font-weight: 500;
        
        &:hover {
            text-decoration-line: underline;
        }
    }
}

@media screen and (max-width: 700px){
    .Error_div {
        & .Error_div_title {
            margin: 100px 0 10px 0;
        }
    }
}