.header {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: #f4f7f6;
    width: 100%;
   // box-shadow: 0 0 12px rgba(0, 0, 0, 0.432);
    &-structure {
        display: flex;
        width: 100%;
        margin: 0 auto;
        padding: 0px 20px 0px 20px;
        max-width: 1240px;
        justify-content: space-between;
        align-items: center;  
    }
}
.logoSite {
    height: 45px;
    padding-top: 7px;
}
.navBarre {
    & ul {
        list-style-type: none;
        display: flex;
        margin: 5px 0;
        padding: 0;
    }
    & li {
        text-transform: uppercase;
        padding-left: 30px;
        font-size: 18px;
        font-weight: 500;
    }
    & a {
        text-decoration: none;
        color: black;
    }
}

//--------Mode Desktop--------
@media screen and (max-width: 850px) {
    .navBarre li {
        font-size: 15px;
        padding-left: 27px;
    }
}

@media screen and (min-width: 700px) {
    .navBarre-logo {
    display: none;
    }
    .navBarre {
        &-text {
            border-bottom: solid 2px rgba(0, 0, 0, 0);
            transition: 0.4s ease;
            &--noir:hover {
                border-bottom: solid 2px #000000;
            }
            &--beige:hover {
                border-bottom: solid 2px #d8b083;
                color: #d8b083;
            }
            &--vert:hover {
                border-bottom: solid 2px #11883d;
                color: #11883d;
            }
            &--bleu:hover {
                border-bottom: solid 2px #1650a1;
                color: #1650a1;
            }
        }
    }
}

//------Mode Téléphone--------
@media screen and (max-width: 700px) {
    .navBarre-text {
        display: none;
    }
    .deleteMe {
        display: none;
    }
    .logoSite {
        height: 33px;
    }
    .header {
        margin: 0;
            &-structure {
                padding: 0px 10px;
            }
        }
    .navBarre {
        & ul {
            margin: 0;
            padding: 0;
        }
        & li {
            font-size: 21px;
        }
    }
    .special {
        margin-right: 10px;
    }
}