.global {
    padding: 0 20px;
    overflow: hidden;
}
.structure {
    padding-top: 70px;
    position: relative;
}
.titre {
    font-family: 'Sorren-Medium';
    text-transform: uppercase;
    font-weight: 500;
    font-size: clamp(34px, 8vw, 80px);
    border-radius: 20px;
    margin: 0px 0 10px 0;
    text-align: center;
    letter-spacing: 3px;
    word-spacing: 7px;
    &--projet {
        background: url("../assets/sable3bis.jpg") center/cover;
        color: #723c1b;
        padding: 20px 60px 80px 60px;
    }
    &--experience {
        background: url("../assets/buildings.jpeg") center/cover;
        color: #EDF4FD;
        padding: 50px 60px 50px 60px;
        margin: 0 0 45px 0;
        filter: grayscale(10%);
    }
    &--formation {
        background: url("../assets/foret1bis.jpg") center/cover;
        color: #ffffff;
        padding: 50px 60px 50px 60px;
        margin: 0 0 45px 0;
        filter: grayscale(20%);
    }

}
@media screen  and (max-width: 700px) {
    .global {
    margin: 0 10px;
    padding: 0;
    }

    .structure {
        padding-top: 55px;
    }

    .titre {
        border-radius: 10px;
        margin-bottom: 30px;
        &--projet {
            padding: 10px 10px 50px 10px;
        }
        &--experience {
            padding: 30px 10px 30px 10px;
        }
        &--formation {
            padding: 30px 10px 30px 10px;
        }
    }
}